@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {

  background-image: url("download.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  margin: -20px 0 50px;
  background-color: #4e413b;
  color: white;
  padding: 30px;
}

.row{
  margin-top: 10px;
}

.col-25 {
  float: left;
  width: 60%;
  padding-top: 10px;

}

.col-75 {
  float: left;
  width: 40%;

}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-align: center;
}

h1 {
  margin: 10px;
}

select
{
  padding: 12px;
  border: 1px solid #ccc;
  resize: none;
  width: 100%;
}

input
{
  padding: 8px;
  box-sizing : border-box;
  height: 40px;
  font-size: 17px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

form{
  background-color: white;
  padding: 30px;
  margin: 10px;
  color: #383838;
  width:auto;
  box-sizing : border-box;
}


/*****************************************************/
/* INPUT FIELDS */
/*****************************************************/



.buttons-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
}

.icon {
  padding: 10px;
  background: #4e413b;
  color: white;
  min-width: 50px;
  text-align: center;
}

.sign-in-input {
  background-color: #eee;
  border: none;
  padding: 10px;
  margin: 4px 0;
  width: 300px;
}

.sign-in-header {
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.input-field:focus {
  border: 2px solid dodgerblue;
}

/*****************************************************/
/* FULL SCREEN NAV BAR */
/*****************************************************/

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/*****************************************************/
/* BUTTONS */
/*****************************************************/

button
{
  border: 1px solid #4e413b;
  background-color: #4e413b;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 5px 0;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.longprimary {
  width: 100%;
}

button.shortprimary {
  width: auto;
}

button.longsecondary {
  width: 100%;
  background-color: transparent;
  border: 2px solid #4e413b;
  color: #4e413b;
}

button.shortsecondary {
  background-color: transparent;
  border: 2px solid #4e413b;
  color: #4e413b;
  width: auto;
}

.errorFeedback
{
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
  margin: 5px;
  padding: 10px;
  text-align: center;
  padding-right: 10px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  max-width: 500px;
}

.listbox
{
  width: 100%;
  padding: 10px;
}

.listbox-option
{
  padding: 10px;
}

.inline-container
{
  display: flex;
  align-items: center;
  margin: 10px;

}

.expand {
  width: 100%;
}


/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF SEVEN  */
.span_7_of_7 {
  width: 100%;
}

.span_6_of_7 {
  width: 85.48%;
}

.span_5_of_7 {
  width: 70.97%;
}

.span_4_of_7 {
  width: 56.45%;
}

.span_3_of_7 {
  width: 41.94%;
}

.span_2_of_7 {
  width: 27.42%;
}

.span_1_of_7 {
  width: 12.91%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_1_of_7, .span_2_of_7, .span_3_of_7, .span_4_of_7, .span_5_of_7, .span_6_of_7, .span_7_of_7 { width: 100%; }
}

/*****************************************************/
/* SET AVAILIBILTY
/*****************************************************/

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #4f4a4a;
}
tr:nth-child(odd) {
  background-color: #4f4a4a;
}
tr:nth-child(1) {
  background-color: #D2691E;
}



/*****************************************************/
/* EDIT SCHEDULE DROP DOWN
/*****************************************************/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}